{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
              content="Track and manage drum book exercises with notation and practice logs.">
        <meta name="keywords" content="drum, exercise, practice, notation, tracker">
        <title>
            {% block title %}
                Drum Book Tracker
            {% endblock title %}
        </title>
        <!-- pragma: allowlist nextline secret -->
        <link integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
              rel="stylesheet"
              crossorigin="anonymous">
        {% htmx_script %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% include "partials/_navbar.html" %}
        <main class="container">
            {% include "partials/_messages.html" %}
            {% block content %}
            {% endblock content %}
        </main>
        <!-- pragma: allowlist nextline secret -->
        <script integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
