{% load django_htmx %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Drum Book Tracker{% endblock %}</title>
    {% htmx_script %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
        <nav>
            <a href="{% url 'author-list' %}">Authors</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>
