{% include "book_tracker/exercises/_filters.html" %}
<div id="exercise-create-form">{% include "book_tracker/exercises/_create_form.html" %}</div>
<table class="table table-striped table-hover align-middle">
    <thead>
        <tr>
            <th>Section</th>
            <th>Identifier</th>
            <th>Description</th>
            <th>Page</th>
            <th>Tags</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody id="exercise-table-body">
        {% include "book_tracker/exercises/_table_body.html" %}
    </tbody>
</table>
