{% extends "base.html" %}

{% block title %}Authors - Drum Book Tracker{% endblock %}

{% block content %}
<h1>Authors</h1>

<div id="author-list-container">
    {% partialdef author-list inline %}
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            {% partialdef author-row inline %}
            <tr id="author-{{ author.id }}">
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
                <td>
                    <button hx-get="{% url 'author-edit' author.id %}" hx-target="#author-{{ author.id }}"
                        hx-swap="outerHTML">Edit</button>
                </td>
            </tr>
            {% endpartialdef author-row %}
            {% empty %}
            <tr>
                <td colspan="3">No authors yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% partialdef author-form inline %}
    <form hx-post="{% url 'author-create' %}" hx-target="#author-list-container" hx-swap="innerHTML">
        {{ form.as_p }}
        <button type="submit">Add Author</button>
    </form>
    {% endpartialdef author-form %}
    {% endpartialdef author-list %}
</div>
{% endblock %}
