{% load form_tags %}
<tr id="book-{{ book.id }}">
    <td>
        {{ form.title|widget_sm }}
        {% for error in form.title.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
    </td>
    <td>
        {{ form.page_count|widget_sm }}
        {% for error in form.page_count.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
    </td>
    <td>
        {{ form.authors|widget_sm }}
        {% for error in form.authors.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
    </td>
    <td class="text-end">
        <button class="btn btn-sm btn-success"
                hx-post="{% url 'book-update' book.id %}"
                hx-target="#book-{{ book.id }}"
                hx-swap="outerHTML"
                hx-include="closest tr">Save</button>
        <button class="btn btn-sm btn-outline-secondary"
                hx-get="{% url 'book-row' book.id %}"
                hx-target="#book-{{ book.id }}"
                hx-swap="outerHTML">Cancel</button>
    </td>
</tr>
