<div class="row g-2 align-items-start mb-2 section-form-row">
    <div class="col-md-8">
        <input type="text"
               name="section_title"
               value="{{ section_title }}"
               class="form-control"
               placeholder="Section title">
    </div>
    <div class="col-md-3">
        <input type="number"
               name="section_order"
               value="{{ section_order }}"
               min="1"
               class="form-control"
               placeholder="Order">
    </div>
</div>
